<div class="accordion" id="accordionCrud">
  <!-- List Accordion -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headerList">
      <button class="accordion-button btn-outline-info" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseList"
              aria-expanded="true" aria-controls="collapseList">
        {{title}} List
      </button>
    </h2>
    <div id="collapseList" class="accordion-collapse collapse show" aria-labelledby="headerList"
         data-bs-parent="#accordionCrud">
      <div class="accordion-body">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of itemList">
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Insert Accordion -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingInsert">
      <button class="accordion-button btn-outline-success" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseInsert"
              aria-expanded="false" aria-controls="collapseInsert">
        Insert {{title}}
      </button>
    </h2>
    <div id="collapseInsert" class="accordion-collapse collapse" aria-labelledby="headingInsert"
         data-bs-parent="#accordionCrud">
      <div class="accordion-body">
        <form class="row" [formGroup]="insertForm" (submit)="insert()">
          <div class="col-sm-3">
            <label class="form-label">Aerolinea</label>
            <input class="form-control" placeholder="Nombre" formControlName="name" />
          </div>
          <div class="pt-2">
            <button class="btn btn-primary col-sm-3" type="submit">Insertar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Find Accordion -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFind">
      <button class="accordion-button btn-outline-info" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFind"
              aria-expanded="false" aria-controls="collapseFind">
        Find {{title}} by Id
      </button>
    </h2>
    <div id="collapseFind" class="accordion-collapse collapse" aria-labelledby="headingFind"
         data-bs-parent="#accordionCrud">
      <div class="accordion-body">
        <div class="row">
          <div class="col-sm-3">
            <form class="form-control" [formGroup]="findForm" (submit)="findItem()">
              <div>
                <label class="form-label">{{title}} Id</label>
                <input class="form-control" placeholder="Id" formControlName="id" />
              </div>
              <div class="pt-2">
                <button class="btn btn-primary col-sm-12">Buscar</button>
              </div>
            </form>
          </div>
          <div class="col-sm-3" *ngIf="foundItem">
            <div class="form-control">
              <h5>{{title}} Found</h5>
              <div class="mb-2 row">
                <label class="col-sm-3 col-form-label fw-bold" for="foundId">Id</label>
                <div class="col-sm-9">
                  <label class="form-control-plaintext" id="foundId">{{foundItem.id}}</label>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 col-form-label fw-bold" for="foundName">Name</label>
                <div class="col-sm-9">
                  <label class="form-control-plaintext" id="foundName">{{foundItem.name}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Update Accordion -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingUpdate">
      <button class="accordion-button btn-outline-secondary" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseUpdate"
              aria-expanded="false" aria-controls="collapseUpdate">
        Update {{title}}
      </button>
    </h2>
    <div id="collapseUpdate" class="accordion-collapse collapse" aria-labelledby="headingUpdate"
         data-bs-parent="#accordionCrud">
      <div class="accordion-body">
        <form class="row" [formGroup]="updateForm" (submit)="update()">
          <div class="col-sm-3">
            <label class="form-label">Id</label>
            <input class="form-control" placeholder="Id" formControlName="id" />
          </div>
          <div class="col-sm-3">
            <label class="form-label">Nombre</label>
            <input class="form-control" placeholder="Nombre" formControlName="name" />
          </div>
          <div class="pt-2">
            <button class="btn btn-primary col-sm-3" type="submit">Actualizar</button>
          </div>
          <div class="pt-2" *ngIf="updatedItem !== undefined">
            <label class="col-sm-3 text-center" [ngClass]="updatedItem ? 'text-success' : 'text-danger'">
              {{ updatedItem ? title + ' Actualizado' : 'Error al actualizar' }}
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Delete Accordion -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingDelete">
      <button class="accordion-button btn-outline-danger" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseDelete"
              aria-expanded="false" aria-controls="collapseDelete">
        Delete {{title}}
      </button>
    </h2>
    <div id="collapseDelete" class="accordion-collapse collapse" aria-labelledby="headingDelete"
         data-bs-parent="#accordionCrud">
      <div class="accordion-body">
        <div class="row">
          <div class="col-sm-3">
            <form class="form-control" [formGroup]="deleteForm" (submit)="delete()">
              <div>
                <label class="form-label">{{title}} Id</label>
                <input class="form-control" placeholder="Id" formControlName="id" />
              </div>
              <div class="pt-2">
                <button class="btn btn-danger col-sm-12">Eliminar</button>
              </div>
            </form>
          </div>
          <div class="col-sm-3" *ngIf="deletedItem">
            <div class="form-control">
              <h5>{{title}} Deleted</h5>
              <div class="mb-2 row">
                <label class="col-sm-3 col-form-label fw-bold" for="deletedId">Id</label>
                <div class="col-sm-9">
                  <label class="form-control-plaintext" id="deletedId">{{deletedItem.id}}</label>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 col-form-label fw-bold" for="deletedName">Name</label>
                <div class="col-sm-9">
                  <label class="form-control-plaintext" id="deletedName">{{deletedItem.name}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
